@font-face {
  font-weight: 400;
  font-family: 'PT Sans';
  font-style: normal;

  src: url(../fonts/PT_Sans-normal-400.woff) format('woff');
  unicode-range: U+0-10FFFF;
}

@font-face {
  font-weight: 700;
  font-family: 'PT Sans';
  font-style: normal;

  src: url(../fonts/PT_Sans-normal-700.woff) format('woff');
  unicode-range: U+0-10FFFF;
}
